:root {
    /*Primary colors*/
    --primary: #116e17;        
    --primary-dark: #003803;   
    --primary-light: #10ca1a;  

    /* Extra colors */
    --wood: #a66a3f;           /* warm leather brown */
    --dark-brown: #4e2a10;      /* dark oak */
    --wood-light: #c48a5a;     /* sunlit wood */

    /* Background color */
    --background: #ad8830;     

    /* Text */
    --text: #3f3405;
    --text-light: #e4b13a;

    /* Authform */
    --auth-form-background: #117e07;

    /*Fonts*/
    --title: font-family: ;
    --paragraph: font-family: ;

    
}