:root {
  --primary-color: #005304;
  --primary-hover: #a89553;

  --background: #093d0c;
  --card-bg: #d3d3d3;

  --text-primary: #000000;
  --text-secondary: #535353;

  --button-text-color: #FFFFFF;
  --button-primary-background: #3f3100;

  --border-radius: 10px;
  --border-width: 2px;
  
}