:root {
  --primary-color: #fa0000;
  --primary-hover: #7e008a;

  --background: #c5c5c5;
  --card-bg: #d3d3d3;

  --text-primary: #000000;
  --text-secondary: #535353;

  --button-text-color: #FFFFFF;
  --button-primary-background: red;

  --border-radius: 10px;
  --border-width: 2px;
  
}