.messages-main-container {
  height: 100vh;          /* important so it has vertical space */
  display: flex;
  justify-content: center; /*horizontal center*/
  align-items: center;     /* vertical center */
}

.misc-text{
    font-size: clamp(1.8rem, 4vw, 1rem);
    color: var(--text);
}