.auth-form-container {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background: var(--primary-dark);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.auth-form-title{
  font-size: clamp(20px, 4vw, 32px);
  text-align: center;
  color: white;
}

.auth-form-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.auth-form-submit-btn{
  background-color: var(--text);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: 100%;
}

.error-message{
  color: white;
  font-size: clamp(10px, 2vw, 14px);
}

.auth-form-signup-login-toggle{
  color: var(--text-light);
}

.auth-form-remember-email{
  font-size: clamp(9px, 4vw, 16px);
  color: white;
}

.remember-password{
  display: flex;
  gap: 5px;
  color: white;
}

.auth-form-signup-login-toggle a {
    color: white;
    text-decoration: none;
    margin-left: 4px;
    font-weight: bold;
}

.auth-form-signup-login-toggle a:hover {
    text-decoration: underline;
    color: var(--text-light);
}
